
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        添加设备
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/main.css" media="all">
    <script type="text/javascript" src="lib/loading/okLoading.js"></script>
    <link rel="stylesheet" href="css/index.css">

</head>
<body>

<div class="x-body" id="app">
    <el-form :model="device" :rules="rules" ref="deviceFormRef" label-width="120px" class="demo-ruleForm">
        <el-form-item label="所属小区" prop="communityName">
            <el-select v-model="community.name" placeholder="按小区进行筛选" @change="setcom" >
                <el-option
                        v-for="item in communities"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="所属楼栋" prop="buildingName">
            <el-select v-model="building.name" placeholder="请选择" @change="setbu">
                <el-option
                        v-for="item in buildings"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name">
                </el-option>
            </el-select>
        </el-form-item>
        <!--填写部分-->
        <el-form-item label="设备编号" prop="code">
            <el-input v-model="device.code"></el-input>
        </el-form-item>
        <el-form-item label="设备名称" prop="name">
            <el-input v-model="device.name"></el-input>
        </el-form-item>
        <el-form-item label="设备品牌" prop="brand">
            <el-input v-model="device.brand"></el-input>
        </el-form-item>
        <el-form-item label="设备单价" prop="unitPrice">
            <el-input v-model="device.unitPrice"></el-input>
        </el-form-item>
        <el-form-item label="数量" prop="number">
            <el-input v-model="device.num"></el-input>
        </el-form-item>
        <el-form-item label="预计使用年限" prop="expectAge">
            <el-input v-model="device.expectAge"></el-input>
        </el-form-item>
        <el-form-item label="购入日期" prop="purchaseDate">
            <el-date-picker
                    v-model="device.purchaseDate"
                    type="date"
                    placeholder="选择购入时间">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="save()" style="text-align: center">确认提交</el-button>
            <el-button type="" @click="clear()" style="text-align: center">清空表单</el-button>
        </el-form-item>
    </el-form>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<script src="js/vue.js" charset="utf-8"></script>
<script src="js/index.js" charset="utf-8"></script>
<script src="js/axios.js" charset="utf-8"></script>
<script src="js/moment.min.js" charset="utf-8"></script>

<script>
    var app=new Vue({
        el:"#app",
        data:{
            title:"新增设备",
            device:{id:""},
            communities:[],
            buildings:[],
            community:{},
            building:{},
            searchMap:{"communityName":"",
                       "buildingName":""},
            rules:{
                communityName: [{required:true,message:'选择社区',trigger:'change'}],
                buildingName:[{required: true,message: '选择楼栋(非必要)',trigger:'change'}],
                code:[{required:true,message:'',trigger:'blur'}],
                name:[{required:true,message:'',trigger:'blur'}],
                brand:[{required:true,message:'',trigger:'blur'}],
                unitPrice:[{required:true,message:'',trigger:'blur'}],
                number:[{required:true,message:'',trigger:'blur'}],
                expectAge:[{required:true,message:'',trigger:'blur'}],
                purchaseDate:[{required:true,message:'',trigger:'blur'}]
            }
        },
        methods:{
            getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                var q = window.location.pathname.substr(1).match(reg_rewrite);
                if(r != null){
                    return unescape(r[2]);
                }else if(q != null){
                    return unescape(q[2]);
                }else{
                    return null;
                }
            },
            findById() {
                axios.get("backend/device/FindById?id=" + this.device.id).then((res) => {
                    this.device = res.data.data;
                });
            },
            clear(){
                this.$refs.deviceFormRef.resetFields();
            },
            setcid(){
                app.device.communityId=this.community.id;
                app.device.communityName=this.community.name;
            },
            setbid(){
                app.device.communityId=this.building.id;
                app.device.communityName=this.building.name;
            },
            getcommunities(){
                axios.get("backend/community/CommunityList").then((res)=>{
                    app.communities=res.data;
                })
            },
            getbuildings(){
                axios.post("backend/building/GetBuildingList",this.searchMap).then((res)=>{
                    app.buildings=res.data;
                })
            },
            setcom(){
                for(var i=0;i<app.communities.length;i++){
                    if(app.communities[i].name===app.community.name){
                        app.community.id=app.communities[i].id;
                        break;
                    }
                }
                app.device.communityId=app.community.id;
                app.device.communityName=app.community.name;
                app.searchMap.communityName=app.community.name;
                this.getbuildings();
            },
            setbu(){
                for(var i=0;i<app.buildings.length;i++){
                    if(app.buildings[i].name===app.building.name){
                        app.building.id=app.buildings[i].id;
                        break;
                    }
                }
                app.device.buildingName=app.building.name;
                app.device.buildingId=app.building.id;
            },
            save(){
                var method="";
                if(this.device.id != null){
                    method="UpdateDevice"
                }else{
                    method="AddDevice"
                }
                axios.post("/backend/device/"+method,this.device).then((res)=>{
                    if(res.data.flag) {
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
        },
        created:function (){
            layui.use(['element', 'layer', 'form'], function () {
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            this.device.id=this.getQueryString("id");
            if(this.device.id!=null){
                this.title="修改设备信息";
                this.findById();};
            this.getcommunities();
            this.getbuildings();
        }
    })

</script>

</body>
</html>