<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        添加房产信息
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/main.css" media="all">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="lib/loading/okLoading.js"></script>

    <style>
        .imgs {
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="x-body">
        <el-form :model="house" :rules="rules" ref="houseFormRef" label-width="120px" class="demo-ruleForm">
            <el-form-item label="房屋名称" prop="name">
                <el-input v-model="house.name"/>
            </el-form-item>
            <el-form-item label="所属小区" prop="communityName">
                <el-select v-model="community.name" placeholder="按小区进行筛选" @change="setcom" >
                    <el-option
                            v-for="item in communities"
                            :key="item.id"
                            :label="item.name"
                            :value="item.name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="所属楼栋" prop="">
                <el-select v-model="building.name" placeholder="请选择" @change="setbu">
                    <el-option
                            v-for="item in buildings"
                            :key="item.id"
                            :label="item.name"
                            :value="item.name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="房屋编号" prop="code">
                <el-input v-model="house.code"/>
            </el-form-item>
            <!--可优化部分START-->
            <el-form-item label="所属业主ID" prop="ownerId">
                <el-input v-model="house.ownerId"/>
            </el-form-item>
            <el-form-item label="所属业主姓名" prop="ownerName">
                <el-input v-model="house.ownerName"/>
            </el-form-item>
            <!--可优化部分END-->
            <el-form-item label="联系方式" prop="telephone">
                <el-input v-model="house.telephone"/>
            </el-form-item>
            <el-form-item label="房间数量" prop="roomNum">
                <el-input v-model="house.roomNum"/>
            </el-form-item>
            <el-form-item label="单元" prop="unit">
                <el-input v-model="house.unit"/>
            </el-form-item>
            <el-form-item label="楼层" prop="floor">
                <el-input v-model="house.floor"/>
            </el-form-item>
            <el-form-item label="描述" prop="description">
                <el-input v-model="house.description"/>
            </el-form-item>
            <el-form-item label="入住时间" prop="liveTime">
                <el-input v-model="house.liveTime"/>
            </el-form-item>
            <el-form-item label="防疫状态" prop="danger">
                <el-radio-group v-model="house.danger">
                    <el-radio label="0">安全</el-radio>
                    <el-radio label="1">观察</el-radio>
                    <el-radio label="2">隔离</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="save()" style="text-align: center">确认提交</el-button>
                <el-button type="" @click="clear()" style="text-align: center">清空表单</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<script src="js/jquery.min.js" charset="utf-8"></script>
<!--<script src="/static/xiyuan/js/jquery.js" charset="utf-8"></script>-->
<script src="/js/vue.js" charset="utf-8"></script>
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/axios.js" charset="utf-8"></script>

<script type="text/javascript">
    var app=new Vue({
        el:"#app",
        data:{
            title:"房屋信息新增界面",
            house:{id:""},
            fileList:[],
            community:{},
            building:{},
            communities:[],
            buildings:[],
            searchMap:{"communityName": "",
                       "buildingName":""},
            rules:{
                name:[{required:true,message:"住房名称",trigger:'blur'},
                    {max:50,message: "长度不超过30个字符",trigger: 'blur'}],
                buildingName: [{required: true,message:"所属楼栋",trigger:'change'}],
                communityName:[{required:true,message:"所属小区",trigger:"change"}],
                code:[{required:true,message:"房屋编号",trigger:'blur'},
                    {max:30,message: "长度不超过30个字符",trigger: 'blur'}],
                ownerId:[{required:true,message:"业主ID",trigger:'blur'},
                    {max:30,message: "长度不超过30个字符",trigger: 'blur'}],
                ownerName:[{required:true,message:"业主姓名",trigger:'blur'}],
                telephone:[{required:true,message:"联系方式",trigger:'blur'},
                    {min:10,message: "请输入正确手机号",trigger: 'blur'}],
                roomNum:[{required:true,message:"房间数量",trigger:'blur'}],
                unit:[{required:true,message:"单元",trigger:'blur'}],
                floor:[{required:true,message:"楼层",trigger:'blur'}],
                description:[{required:true,message:"描述",trigger:'blur'}],
                liveTime:[{required:true,message:"入住时间",trigger:'change'}],
                danger:[{required:true,message:"防疫状态",trigger:'change'}]
            },
        },

        methods:{
            getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                var q = window.location.pathname.substr(1).match(reg_rewrite);
                if(r != null){
                    return unescape(r[2]);
                }else if(q != null){
                    return unescape(q[2]);
                }else{
                    return null;
                }
            },
            findById() {
                axios.get("backend/house/FindById?id=" + this.house.id).then((res) => {
                    this.house = res.data.data;
                });
            },
            clear(){
                this.$refs.houseFormRef.resetFields();
            },
            setcid(){
                app.house.communityId=this.community.id;
                app.house.communityName=this.community.name;
            },
            setbid(){
                app.house.communityId=this.building.id;
                app.house.communityName=this.building.name;
            },
            getcommunities(){
                axios.get("backend/community/CommunityList").then((res)=>{
                    app.communities=res.data;
                })
            },
            getbuildings(){
                axios.post("backend/building/GetBuildingList",this.searchMap).then((res)=>{
                    app.buildings=res.data;
                })
            },
            setcom(){
                for(var i=0;i<app.communities.length;i++){
                    if(app.communities[i].name===app.community.name){
                        app.community.id=app.communities[i].id;
                        break;
                    }
                }
                app.house.communityId=app.community.id;
                app.house.communityName=app.community.name;
                app.searchMap.communityName=app.community.name;
                this.getbuildings();
            },
            setbu(){
                for(var i=0;i<app.buildings.length;i++){
                    if(app.buildings[i].name===app.building.name){
                        app.building.id=app.buildings[i].id;
                        break;
                    }
                }
                app.house.buildingName=app.building.name;
                app.house.buildingId=app.building.id;
            },
            save(){
                var method="";
                if(this.house.id != null){
                    method="UpdateHouse"
                }else{
                    method="AddHouse"
                }
                axios.post("/backend/house/"+method,this.house).then((res)=>{
                    if(res.data.flag) {
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },

        },

        created:function (){
            layui.use(['element', 'layer', 'form'], function () {
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            this.house.id=this.getQueryString("id");
            if(this.house.id!=null){
                this.title="修改楼栋信息";
                this.findById();};
            this.getcommunities();
            this.getbuildings();
        }
    })




</script>
<!--栏目缩略图上传-->

</body>
</html>