
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        车位添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/main.css" media="all">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="lib/loading/okLoading.js"></script>
    <style>
        .imgs{display: none;}
    </style>
    <link rel="stylesheet" href="css/index.css">

</head>
<body>

<div class="x-body" id="app">
    <el-form :model="parking" :rules="rules" ref="parkingFormRef" label-width="120px" class="demo-ruleForm">
        <el-form-item label="请选择小区" prop="communityId">
            <el-select v-model="parking.communityId" placeholder="请选择" @change="setCommunity()">
                <el-option id="selects"
                           v-for="item in communities"
                           :key="item.id"
                           :label="item.name"
                           :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="车位编号" prop="code">
            <el-input v-model="parking.code"></el-input>
        </el-form-item>
        <el-form-item label="车位名称" prop="name">
            <el-input v-model="parking.name"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
            <el-button @click="clearAll()" style="text-align: center">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //UE.getEditor('content',{initialFrameWidth:1000,initialFrameHeight:400,});
</script>
<script src="js/vue.js" charset="utf-8"></script>
<script src="js/index.js" charset="utf-8"></script>
<script src="js/axios.js" charset="utf-8"></script>
<script src="js/moment.min.js" charset="=utf-8"></script>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            title:"添加车位",
            communities:[],
            parking:{id:""},
            rules:{
                communityId:[{required:true,message:'选择小区',trigger:'change'}],
                name:[{required: true,message: '输入车位名称',trigger: 'blur'}],
                code:[{required:true,message:'输入车位编号',trigger:'blur'}]
            }
        },
        methods:{
            findById(){
                axios.get("/backend/parking/FindById?id="+this.parking.id).then((res)=>{
                    this.parking=res.data.data;
                })
            },
            clearAll(){
                this.$refs.parkingRefForm.resetFields();
            },
            save(){
                var method='';
                if(this.parking.id!=null){
                    method='UpdateParking'
                }else{
                    method='AddParking'
                }
                axios.post("backend/parking/"+method,this.parking).then((res)=>{
                    if(res.data.flag) {
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
            setCommunity() {
                console.log(app.parking.communityId);
                axios.post("/backend/community/FindById?id="+app.parking.communityId).then((res)=>{
                    app.parking.communityName=res.data.data.name;
                })
            },
            getQueryString(name){
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            },
            getcommunities(){
                axios.get("backend/community/CommunityList").then((res)=>{
                    app.communities=res.data;
                });

            },
        },
        created:function (){
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            //获取父页面传递参数，小区ID
            this.parking.id = this.getQueryString("id");
            //根据小区ID获取小区对象，进行数据回显
            if(this.parking.id != null && this.parking.id != ''){
                this.title="修改车位信息";
                this.findById();
            }
            this.getcommunities();
        }
    })
</script>

</body>
</html>