
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        收费项目添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/main.css" media="all">
    <script type="text/javascript" src="lib/loading/okLoading.js"></script>

    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="x-body" id="app">
    <el-form :model="chargeItem" :rules="rules" ref="chargeItemFormRef" label-width="120px" class="demo-ruleForm">
        <el-form-item label="请选择小区" prop="communityId">
            <el-select v-model="chargeItem.communityId" placeholder="请选择小区" @change="setCommunity()" >
                <el-option
                        v-for="item in communities"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="收费项目编号" prop="code">
            <el-input v-model="chargeItem.code"></el-input>
        </el-form-item>
        <el-form-item label="收费项目名称" prop="name">
            <el-input v-model="chargeItem.name"></el-input>
        </el-form-item>
        <el-form-item label="收费项目价格" prop="money">
            <el-input v-model="chargeItem.money"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
            <el-button @click="clearAll()" style="text-align: center">重置</el-button>
        </el-form-item>
    </el-form>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<script src="js/vue.js" charset="utf-8"></script>
<script src="js/index.js" charset="utf-8"></script>
<script src="js/axios.js" charset="utf-8"></script>
<script src="js/moment.min.js" charset="utf-8"></script>

<script>
    var app=new Vue({
        el:"#app",
        data:{
            title:"添加收费项目",
            communities:[],
            chargeItem:{id:""},
            rules:{
                communityId:[{required:true,message:'选择小区',trigger:'change'}],
                name:[{required: true,message: '输入收费项目名称',trigger:'blur'}],
                code:[{required:true,message:'输入收费项目编号',trigger:'blur'}],
                money:[{required:true,message:'请输入收费价格',trigger:'blur'}]
            }
        },
        methods:{
            findById(){
                axios.get("backend/chargeitem/FindById?id="+this.chargeItem.id).then((res)=>{
                    this.chargeItem=res.data.data;
                })
            },
            clearAll(){
                this.$refs.chargeItemFormRef.resetFields();
            },
            save(){
                var method='';
                if(this.chargeItem.id!=null){
                    method='UpdateChargeItem'
                }else{
                    method='AddChargeItem'
                }
                axios.post("backend/chargeitem/"+method,this.chargeItem).then((res)=>{
                    if(res.data.flag) {
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
            setCommunity() {
                console.log(app.chargeItem.communityId);
                axios.post("/backend/community/FindById?id="+app.chargeItem.communityId).then((res)=>{
                    app.chargeItem.communityName=res.data.data.name;
                })
            },
            getQueryString(name){
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            },
            getcommunities(){
                axios.get("backend/community/CommunityList").then((res)=>{
                    app.communities=res.data;
                });

            },
        },
        created:function (){
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            this.chargeItem.id = this.getQueryString("id");
            //根据小区ID获取小区对象，进行数据回显
            if(this.chargeItem.id != null && this.chargeItem.id != ''){
                this.title="修改收费项目信息";
                this.findById();
            }
            this.getcommunities();
        }
    })
</script>

</body>
</html>